# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

.next/
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.example
.env*.local

# typescript
*.tsbuildinfo

# Backend folder
GYM_app_backend/

# frontend folder
GYM_app_user/

GYM_USER_APP_DEVELOPMENT_PLAN.md 